.flex{
  gap:10px;

}.login-container{
  height: 100%;
  width: 100%;
  color: var(--second);
}
.login{
  flex-direction: column;
  border:2px solid grey;
  background-color: rgba(30, 28, 28, 0.484);
  padding:30px;
}
.login h3{
  margin:10px 0px;
  font-size: 28px;
}
.input-flex{
  display: flex;
  align-items: start;
  flex-direction: column;
  gap:10px;
  padding:7px;
}
.input-flex input{
  padding:7px 20px;
  border: 2px solid rgb(38, 38, 38);
  background-color: transparent;
  color: white; 
}
.google-flex{
  border:2px solid grey;
  padding:7px 10px;
  width: 95%;
  border-radius: 10px;
}
.google-flex img{
  width:1rem;
}
.google-flex:hover{
  background-color: #ffffff1b;
}
.forgot{
  width:100%;
  text-align: right;
  font-size: 13px;
}
#signin{
  font-size: inherit;
  width:95%;
  padding:7px 20px;
  border-radius: 5px;
  border:none;
  background-color: var(--second);
}
a{
  text-decoration:  none;
  color: white;
}
.forgot a:hover{
  color:var(--second);
  text-decoration: none;

}
.signup{
  margin:10px;
}