@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* @media only screen and (max-width: 1080px){
    
}
@media only screen and (max-width: 768px){
    
}
@media screen and (max-width: 520px){
} */
:root {
    --first: #131313f7;
    --second: rgb(238, 175, 15);
    --third:rgba(240, 248, 255, 0.95);
    --nav:#161616;
    --font-family: 'font', sans-serif; 
    --contact: #a5a4a4;
}
/* @font-face {
    font-family: 'font';
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap') ;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html,body {
    width: 100%;
    height: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
body{
    background-color:black;
    color:var(--third);
    /* font-family: var(--font-family);   */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:16px;
}
#nav-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;    
}
.flex{
    display: flex;
    align-items:center;
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.navbar{
    background-color: var(--nav);
    justify-content:space-evenly;
    width:100%;
    padding:10px 0px;
}
.logo-img img{
    height: 65px;
}
.flex li{
    list-style: none;
    margin-right: 1.5em;
}
.flex li a{
    color: var(--third);
    text-decoration: none;
}
.nav-text{
    justify-content:space-around;
    gap:3em;
}
.active{
    text-decoration:underline ;
    text-underline-offset: 5px;
    color:var(--second);
}
.nav-tag:hover{
    color:var(--second);
}
.register a{
    text-decoration: underline;
}
.inherit{
    font-family: inherit;
    font-size:inherit;
}
.cursor{
    cursor: pointer;
}
.submit-btn{
    padding:7px 15px;
    background: none;
    border:none;
    color:var(--second);
    transition: border 1s ease-in;
}
.submit-btn:hover{
    border:1px solid var(--second);
}
/* .menu{
    margin:8px;
    padding:4px;
    border-radius: 25px;
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;   
    scrollbar-width: none;  
    -ms-overflow-style: none;
}
.scrolled{
    background-color: rgb(174, 127, 7);
    transition: all 2s ease;
    padding:5px;
}
.menu-items a{
    padding:0.3%;
    gap:10px;
}
.menu-items img{
    height:35px;
    border-radius: 50%;
}
.menu-items img{  
    opacity:0.75;
}
.menu-items:hover p{
    color:gold;
}
.menu-items:hover img{
    opacity:1;
} */
.main-page .main-img img {
    height: 99vh;
    width: 100%;
    position: relative;
    z-index: -5;
}
.bg-black{
    position: absolute;
    z-index: -1;
    top:1px;
    height:99vh;
    width:100%;
    background-color: rgba(0, 0, 0, 0.511);
}
.display-text{
    flex-direction: column;
    width:55vw;
    position: absolute;
    z-index: 50;
    top:40%;
}
.yellow{
    color:var(--second);
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.get-started{
    cursor: pointer;
    padding:10px 20px;
    border:2px solid var(--second);
    background-color: transparent;
    color: var(--second);
    cursor: pointer;
    margin-top:10px;
}
.get-started:hover{
     background-color: var(--second);
     color:black;
     transition: all 0.5s ease-in;
}
.section{
    padding: 40px 0px 0px 0px;
}
#explore{
    background-color: var(--second);
    color:black;
    border-radius: 7px;
    cursor: pointer;
}
#tagline{
    width:60%;
    text-align: center;
}
.align{
    max-width: 90%;
    margin: auto;
    padding:70px 0px;
    gap:50px;
}
.section-text{
    width:35vw;
    flex-direction: column;
}
.img img{
    width:35vw;
    border-radius: 25px;
}
.heading{
    font-size: 4vw;
    line-height: 75px;
    text-align: center;
}
.job{
    font-weight: bolder;
    color:var(--second);
}
.para{
    font-size: 1.05vw;
    line-height: 32px;
}
.round{
    border-radius: 50%;
}
.sub-text{
    font-size:2vw;
    line-height: 55px;
}
.content{
    gap:20px;
    padding:40px 0px;
    margin:10px;
 }
 .desc{
    width:23vw;
    flex-direction: column;
    border-radius: 10px;
    padding:25px;
    gap:15px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.057);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.desc:hover{
    border: 1px solid rgba(255, 255, 0, 0.614);
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
}
 .desc:hover img{
    transform:scale(0.95) ;
    transition: all ease 0.5s;
 }
 .desc img{
    height:10vw;
 }

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    padding: 30px;
  }
  .questions{
    flex-direction: column;
  }
  .faq-flex {
    border: 2px solid var(--second);
    padding: 15px 25px;
    margin: 10px auto;
    flex-wrap: wrap;
    width: 50vw;
    cursor: pointer;
  }
  .faq-flex:hover {
    background-color: rgba(218, 165, 32, 0.427);
    transition: all 0.5s ease;
  }
  .plus-flex {
    display: flex;
    position: relative;
  }
  .plus-flex i {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: var(--second);
  }
  
  .desp{
    margin: 12px 15px 12px 0px;
    display: none;
    transition: all 0.3s ease;
  }
  .bold {
    font-weight: bold;
    font-size: 16px;
  }
  .desp.show {
    transition: all 3s ease;
    display: block;
    line-height: 20px;
  }
  .flex{
    text-align: center;
  }
  .desp{
    text-align: left;
  }
  .footer-links{
    /* border:2px solid red; */
    width:22vw;
    height: 50vh;
    flex-direction: column;
    padding:20px;
  }
  .links{
    flex-direction: column;
    gap:20px;
  }
  .links a{
    color:white;
  }
  .brands{
    gap:10px;
    color:white;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.banner{
    padding:20px;
}
.desc{
    width:25vw;
}
.desc img{
    width:80%;
    height: auto;
}  
@media only screen and (max-width: 1080px) {
    .heading {
      font-size: 3.5vw;
    }
    .faq-flex {
      width: 90vw;
    }
    .plus-flex i{
      right: 0px;
    }
    .bold {
      font-size: 12px;
    }
    .desp {
      font-size: 11px;
    }    
    .description{
        flex-wrap:wrap ;
        padding:10px;
    }
    .desc{
        width:35vw;
     }
    .desc img{
        width: 100%;
     }     
  }
  @media only screen and (max-width: 768px) {
    .bold {
      font-size: 14px;
    }
    .desp {
      font-size: 11px;
    }
  }
@media only screen and (max-width: 1080px) {
    .display-text{
        width:80vw; 
        gap:7px;
    }
    .heading{
        font-size: 4.5vw;
        line-height: 60px;
    }
    .para{
        font-size: 1.6vw;
        line-height: 30px;
    }
    .sub-text{
        font-size: 3vw;
        line-height: 40px;
    }
    /* ... */

    .align{
        max-width: 90%;
    }
    .section-text{
        width:40vw;
    }
    .img img{
        width:40vw;
        border-radius: 25px;
    }
}
  @media screen and (max-width: 768px){
    .nav-text{
        flex-direction: column;
        gap:30px;
    } 
    .logo{
        height:48px;
    }
    .navbar{
        flex-direction: column;
        gap:15px;
    }
    .nav-ul li{
        list-style: none;
        margin-right: 1em;
    }
    .menubar{
        width: 100%;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;  
        padding:7px;
    }
    .heading{
        font-size: 4.4vw;
        line-height: 40px;
    }
    .para{
        font-size: 2vw;
        line-height: 20px;
        text-align: center;
    }
    .sub-text{
        font-size: 3vw;
    }
    .display-text{
        top:50%;
        width:70vw;
    }
    /* ...... */   
    .desc {
        width:30vw;
        z-index: 1000 ;
    }
  }
  @media screen and (max-width: 520px){
    .nav-text{
        flex-direction: column;
        gap:20px;
    }
    .display-text{
        top:45%;
        width:80vw;
    }
    .heading{
        font-size: 8vw;
        line-height: 55px;
    }
    .para{
        font-size: 3.5vw;
        line-height: 20px;
    }
    .sub-text{
        font-size:5vw;
        line-height: 35px;
    }
    /* ...... */
    .align{
        flex-direction: column;
    }
    .section-text{
        width:90%;
    }
    .img img{
        width:80vw;
        border-radius: 25px;
    }
    .content{
        flex-wrap:wrap ;
        flex-direction: column;
    }
    .desc {
        width:80vw;
        z-index: 1000 ;
    }
    .desc img{
        height:25vh;
    }
  }
  .contact{
    width: 100%;
  }
  .contact-details{
    background-color: rgba(255, 217, 0, 0.126);
    width: 100%;
    padding: 20px;

  }
  .footer-one img{
    height:5rem;
  }
  .address,.email{
    margin:20px;
  }




  /*............about....... */
.start{
    margin-top: 120px;
}
.page-title{
    padding-top: 10px;
    height:90px;
    width:50%;
    margin: 120px auto auto auto;
    /* border-radius: 45px; */
    background-color: var(--second);
    opacity:0.75;

} 
.title-text{
    color: var(--first); 
}

/* .title-text{
    text-decoration: underline;
    text-underline-offset: 15px;
    color: var(--second);
} */
.about-image img{
    width: 35vw;
    border-radius: 20px;
}
.about-content{
    gap:15px;
    margin: 0px 25px ;
}
.para-sm{
    font-size: 1.1vw;
    line-height: 23px;
}
.meet-card{
    border:2px solid var(--first);
    padding:10px 5px;
    width:24vw;
}
.meet-card:hover{
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(21, 22, 29, 0.37);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.meet-card img{
    width:15em;
    border-radius: 50%;
}
.name{
    font-size: 1.4vw;
    line-height: 25px;
}
.description{
    font-size: 0.95vw;
}
@media only screen and (max-width: 1080px){
    .about-container{
        flex-wrap: wrap;
    }
    .meet{
        flex-wrap: wrap;
    }  
}
@media only screen and (max-width: 768px){
    .about-image img{
        width:60vw;
    }
    .page-title{
        margin-top: 220px;
    }
    .para-sm{
        font-size: 1.5vw;
        text-align: center;
        line-height: 25px;
    }
    .meet{
        flex-wrap: wrap;
    }
    .name{
        font-size: 2vw;
        line-height: 25px;
    }
    .start{
        margin-top:200px;
    }
}
@media screen and (max-width: 520px){
    .para-sm{
        font-size: 2.5vw;
        text-align: center;
        line-height: 15px;
    }
    .meet{
        flex-wrap: wrap;
    }
    .meet-card{
        width:80vw;
    }
    .name{
        font-size: 4vw;
        line-height: 35px;
    }
}

.join{
    /* border: 2px solid red; */
    background-color: var(--first);
    padding:2vw 7vw;
    gap:20px;
    padding:30px;
}
#email{
    padding:10px;
    width:20em;
}
/* .........services................ */

.services{
    gap:30px;
    padding:50px 0px;
    flex-wrap: wrap;
}
.services-flex{
    width:25%;
    border: 2px solid var(--nav);
    padding:20px;
    gap: 30px;
    height:20em;
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(34, 35, 41, 0.37);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.services:hover{
    background-color: #000;
}
.services-flex img{
    width:4em;
}
@media only screen and (max-width: 1080px){
    .services-flex{
        width:25%;
        height:18em;
    }
}
@media only screen and (max-width: 768px){
    .services-flex{
        width:35%;
        height:18em;
    }
}
@media screen and (max-width: 520px){
    .services{
        flex-wrap: wrap;
    }
    .services-flex{
        width:40%;
        height:18em;
    }
}
.destination{
    gap:30px;
    flex-wrap: wrap;
}
.dest-services{
    width:23%;
    border:2px solid rgba(128, 128, 128, 0.605);
    gap:10px;
    height:23em;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.dest-services:hover img{
    transform: scale(0.95);
    transition: all ease 1s;
}
.dest-services:hover {
box-shadow: 0 8px 32px 0 rgba(43, 43, 44, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
/* border-radius: 10px; */
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.dest-services img{
   width: 100%;
}
.dest-content{
    margin: 10px;
}

@media only screen and (max-width: 1080px){
    .dest-services{
        width:25%;
        height: 19em;
    }
}
@media only screen and (max-width: 768px){
    .dest-services{
        width:35%;
        height: 17em;
    }
}
@media screen and (max-width: 520px){
    .dest-services{
        width:40%;
        height:17em;
    }
}
/* ???contact??? */
.contact-form{
    margin:20px auto;
}
.contact-img {
    width:35%;
    gap: 10px;
}
.contact-img img{
    width: 35vw;
    border-radius: 15px;
}
.contact-form-flex{
    padding:10px;
}
.contact-detail{
    margin:10px;
    font-size: inherit;
}
.contact-detail input,select,#email,#submit{
    height: 50px;
    width: 20vw;
    padding-left: 20px;
    color: var(--contact);
    font-size: inherit;

}
.contact-detail input,select,textarea{
    background-color: rgb(24, 24, 24);
    border: none;
}
.contact-detail input::placeholder,textarea::placeholder{
    color: var(--contact);
}
.contact-detail:active{
    border:none;
}
.contact-detail textarea{
    width:41vw;
    padding:10px 20px;
    font-size: inherit;
}
#submit-id{
    width: 15vw;
    color: black;
    font-size: inherit;
    letter-spacing: 0.5px;
    background-color: var(--second);
}
#submit-id:hover{
    background-color: rgba(218, 173, 9, 0.731);
}
textarea{
    resize: none;
}
.touch{
    font-size: 2vw;
    margin:10px 0px;
}
#contact-third{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
input{
    border-radius: 10px;
    border: none;
    outline: none;
}
@media only screen and (max-width: 1080px){
    .contact-img img{
        width: 50vw;
    }
    .contact-detail select,textarea,#submit-id{
        width:42vw;
    }
}
@media only screen and (max-width: 768px){
    .contact-form{
        flex-wrap: wrap;
    }
    .contact-img{
        width:80vw;
    }
    .contact-img img{
        width: 70vw;
    }
    .contact-flex{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;   
    }
    .contact-detail select option {
        border:2px solid red;
        padding: 2px 10px;
        width:10vw;
        font-size: 14px;
    }
    #contact-third{
        width: 65vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-detail input,#email,textarea,#submit-id{
        width: 60vw;
    }
    .contact-detail select{
        width: 60vw;
    }
    .contact-detail textarea{
        width: 60vw;
    }
    .touch{
        font-size: 20px;
    }
}


.main-container{
    border:2px solid blue;
}
.main-image{
    width: 90%;
    margin: auto;
    height: 70vh;
}
.main-image img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content{
    color:black;
}
.wedding-btn{
    background-color: var(--second);
    color:black;
    margin: 20px;
    font-size: 24px;
}
.wedding-btn:hover{
    border:none;
    background-color: rgb(97, 72, 6);
}
button{
    border-radius:8px;
}
@media only screen and (max-width: 1080px){
    .main-image{
        height: auto;
    }
    .main-content{
        top:250px;
    }
}
@media only screen and (max-width: 768px){
    .main-image{
        height: auto;
    }
    .main-content{
        top:330px;
    }
}
@media only screen and (max-width: 600px){
    .main-image{
        height: auto;
    }
    .main-content{
        top:230px;
    }
    .dest-text{
        font-size: 20px;
    }
    .wedding-btn{
        font-size: 3vw;
    }
}
.events-section{
    width:80%;
    margin: auto;
    /* border: 2px solid blue; */
}
.events{
    gap:20px;
    margin: 20px;
}
.event{
    /* border: 2px solid blue; */
    width:22%;
    padding: 20px;
    gap:10px;
    /* box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.279); */
    cursor:pointer;
    background: rgba( 255, 255, 255, 0.1 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
}
.event:hover{
    /* box-shadow: 0 8px 32px 0 rgba(255, 255, 0, 0.201); */
    transform: scale(0.97);
    transition: ease 1s ;
}
.event img{
    width: 100%;
}
@media only screen and (max-width: 1080px){
    .events{
        /* border: 2px solid red; */
        flex-wrap: wrap;
    }
    .event{
        width: 30%;
    }
}
@media only screen and (max-width: 768px){
    .events{
        flex-wrap: wrap;
    }
    .event{
        width: 45%;
    }
}
.step{
    width:80%;
    margin:auto; 
    /* border:2px solid red; */
}
.step-content{
    width: 100%;
    display: flex;
    align-items: center;
    gap:10px;
    /* border:2px solid blueviolet; */
}
.round{
    height: 20px;
    width: 20px;
    background-color: var(--second);
    border-radius: 50%;
}
.align-right{
    justify-content: right;
    padding-right: 8vw;
}
.align-left{
    justify-content: left;
    padding-left: 8vw;
}
.step-text{
    background: rgba( 255, 255, 255, 0.1 );
    width:40%;
    border:2px solid black;
    padding:15px;
}
.white{
    color:white;
}
.main1-page{
    background: linear-gradient(rgba(83, 73, 144, 0.333), rgba(8, 0, 58, 0.322)),
            url('https://t4.ftcdn.net/jpg/06/58/65/49/240_F_658654902_v0Ql2XqzmRsE5GTvrmUC96yFFmEddfaq.jpg');
    background-size: cover;
    background-position: center;
    max-width: 90%;
    margin: auto;
    height:90vh;
    border-radius: 15px;
}